<div class="list">
    <div class="list-top">
        <select id="listDrop">
            <option disabled selected>Select A List</option>
        </select>
        <button id="selectListBtn">Select</button>
        <button id="deleteListBtn">Delete</button>
    </div>
    <div class="list-center">
        <input id="listName" type="text" maxlength="20" placeholder="Enter List Name..." value="">
        <button id="newListBtn">New List</button>
        <button id="saveListBtn">Save List</button>
    </div>
    <div class="list-bottom">
        <select id="sortList">
            <option disabled selected>Sort By</option>
            <option value="name">Name</option>
            <option value="race">Race</option>
            <option value="publisher">Publisher</option>
            <option value="power">Power</option>
        </select>
        <button id="sortListBtn">Sort</button>
    </div>
</div>
