<div class="list">
    <div class="list-top">
        <!-- Add the dropdown component in your template -->
        <select id = "dropdown" #listDropdown>
            <option *ngFor="let list of lists" [value]="list.listName">{{ list.listName }}</option>
        </select>
        <button id="selectListBtn" (click) = "selectList(listDropdown.selectedIndex)">Select</button>
        <button id="deleteListBtn" (click) = "deleteList(listDropdown.selectedIndex, listDropdown.value)">Delete</button>
    </div>
    <div class="list-center">
        <input #listName type="text" maxlength="20" placeholder="Enter List Name..." value="">
        <button id="newListBtn" (click) ="createList(listName.value)">New List</button>
        <button id="saveListBtn" (click) = "saveList(listDropdown.selectedIndex, listDropdown.value)">Save List</button>
    </div>
    
</div>
