<div class="login-container">
    <h2>Login</h2>
    <div class="form-group">
        <label for="username">email:</label>
        <input #email type="text" id="username" name="username" required>
    </div>
    <div class="form-group">
        <label for="password">Password:</label>
        <input #password type="password" id="password" name="password" required>
    </div>
    
    <div class="form-group">
        <button (click)="login(email.value, password.value)">Login Please</button>
    </div>
    <div class="form-group">
        <button (click)="createAccountBtn()">Create New Account</button>
        <button (click)="viewAsGuest()">View as Guest</button>
        <button (click)="viewCopyright()">View Privacy Info</button>
        <div *ngIf = "!invalid">
            <p>Please Try Again</p>
        </div>
        <div *ngIf = "!userActive">
            <label>Account inactive, please contact site admin</label>
        </div>
    </div>
    
</div>
<p>Welcome to Heros Site, here you can view information about all of your favourite superheroes, create lists and share them with your friends.</p>

