<app-title></app-title>
<div class="search">
    <div class="search-input">
        <input #searchName type="text" maxlength="20" placeholder="Enter Name...">
        <input #searchRace type="text" maxlength="20" placeholder="Enter Race...">
        <input #searchPublisher type="text" maxlength="20" placeholder="Enter Publisher...">
        <input #searchPower type="text" maxlength="20" placeholder="Enter Power...">
        <input #searchLimit type="number" min="1" placeholder="Enter Search Limit...">
    </div>
    <div class="search-buttons">
        <button id="searchBtn" (click)="search()">Search</button>
        <button id="publishersBtn">Get All Publishers</button>
    </div>
</div>
<app-list [heroList]="heroList"></app-list>
<div class="list-bottom">
    <select id="sortList" #sortListDropdown>
        <option disabled selected>Sort By</option>
        <option value="name">Name</option>
        <option value="race">Race</option>
        <option value="publisher">Publisher</option>
        <option value="power">Power</option>
    </select>
    <button id="sortListBtn" (click) = "sort(sortListDropdown.value)">Sort</button>
</div>
<p>{{this.message}}</p>
<button id = "logoutBtn" (click) = "logout()">Logout</button>
<app-results
*ngFor="let hero of heroList"
[hero] = "hero"
></app-results>
