<div class="search">
    <div class="search-input">
        <input #searchNameInput type="text" maxlength="20" placeholder="Enter Name...">
        <input #searchRaceInput type="text" maxlength="20" placeholder="Enter Race...">
        <input #searchPublisherInput type="text" maxlength="20" placeholder="Enter Publisher...">
        <input #searchPowerInput type="text" maxlength="20" placeholder="Enter Power...">
        <input #searchLimitInput type="number" min="1" placeholder="Enter Search Limit...">
    </div>
    <div class="search-buttons">
        <button id="searchBtn" (click)="getHeroes(searchNameInput.value, searchRaceInput.value, searchPublisherInput.value, searchPowerInput.value, searchLimitInput.value)">Search</button>
        <button id="publishersBtn" (click)="getAllPublishers()">Get All Publishers</button>
    </div>
</div>
